



 .container-fluid{
  display: flex;
  padding: 0%;
}
.side-nav{
  background-color: blue;
  height: calc(100vh);
  width: 70px;
}
.center-body{
  background-color: wheat;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  flex-direction: column;
}
.create-tweet-div{
  background-color: white;
  width: clamp(200px,60%,500px);
  height: 250px;
  padding: 10px 10px;
  border-radius: 15px;
}

.create-tweet-div textarea{
  width: 100%;
  margin-top: 5px;
  padding: 5px 0px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  border-radius: 5px;
  padding-left: 5px;
  outline: none;
}
.create-tweet-div textarea{
  resize: none;
}

.create-tweet-div textarea::placeholder{
  font-size: 18px;
}

.create-tweet-div textarea:focus{
  outline: 2px solid dodgerblue;
}
.prf-img{
  background-color: brown;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.prf-img>img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.buttons-box{
  display: flex;
  /* background-color: blanchedalmond; */
  background-color: #f25d1d;
  /* justify-content: space-between; */
}
#imgInput{
  display: none;
}
.tools>label>img{
  cursor: pointer;
}
.tweet-btn{
  padding: 6px 15px;
  background-color: #1da1f2;
  color: white;
  font-weight:  bolder;
  border-radius: 20px;
  border: none;
}
.error{
  display: none;
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 10px;
  color: red;
}
.tweets-display-container{
  border: 1px solid red;
  width: clamp(200px,60%,500px);
  margin-top: 25px;
}
